body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.firstDiv {
    padding-top: 20px;
    padding-bottom: 20px;
}

.secondDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: whitesmoke;
    width: 50%;
    border-radius: 10px;
}

.choiceBtn, .startBtn {
    width: 33%;
    margin-top: 20px;
    margin: auto;
    margin-top: 15px;
}